
<% if logged_in? %>

  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3> Microposts Feed </h3>
      <%= render "shared/feed" %>
    </div>

  </div>


<% else %>


  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Welcome to the GUI for AWA App (GAWA) </h1>
    <p class="fs-5 text-muted">
      This is where we record our daily work in short twitter-like posts. 
      Uploading pictures for documentation is allowed.
      Our posts will be visible to us and the PSHS ManComm plus those they allow.
  
    </p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Login now!", login_path, class: "btn btn-lg btn-secondary" %>
  </div>

  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
  "https://rubyonrails.org/" %>

<% end %>

