<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user, size: 240 %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>

    <div class="col-md-8">

      <% if @user.microposts.any? %>
        <h3> Microposts (<%= @user.microposts.count %>) </h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <div class="digg_pagination"><%= will_paginate @microposts %> </div>
      <% end %>
    </div>

</div>


<br>
E-mail: <%= @user.email %>
<br>
Created At: <%= @user.created_at%>
<br>
Updated At: <%= @user.updated_at%>
<br>
Time now: <%= Time.now %>